src/main/mule/efm-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:rds="http://www.mulesoft.org/schema/mule/rds"
	xmlns:s3="http://www.mulesoft.org/schema/mule/s3"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd
http://www.mulesoft.org/schema/mule/rds http://www.mulesoft.org/schema/mule/rds/current/mule-rds.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5fb6e606-118d-46cc-ad54-a8afa9245126" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="5138cc6b-a857-44c8-b23a-15958aeb9748" >
		<s3:basic-connection accessKey="AKIAV663W64TBG2RV7RB" secretKey="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" region="US_EAST_2"/>
	</s3:config>
	<flow name="efm-demo-s3csv2json" doc:id="a76aba61-436f-4b4b-ab33-4bbd4fb95477" >
		<http:listener doc:name="/csv" doc:id="f5883cb6-3f5e-45f7-b4ae-aa776ad760a6" config-ref="HTTP_Listener_config" path="csv"/>
		<s3:get-object doc:name="Get object" doc:id="a4ba7528-0f43-4606-a824-f1e12977a3f6" config-ref="Amazon_S3_Configuration" bucketName="hardie-efmdemo" key="Data_Folder/OutputFile.csv"/>
		<logger level="INFO" doc:name="Logger" doc:id="a6371577-2728-4141-a176-31e5048c0479" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="150b85a0-9deb-4d11-afdd-8a6c9147819b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="66bdc975-3aaa-4859-996f-1f35faf34b25" message="#[payload]"/>
	</flow>
</mule>
